.mui-i5v8s4-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: none; /* Tắt shadow */
  -webkit-text-fill-color: initial; /* Khôi phục màu văn bản ban đầu */
  caret-color: initial; /* Khôi phục màu caret ban đầu */
}
